/* injecting fonts from server */

@font-face {
  font-family: MyOswald;
  src: url(../fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: MyOswaldMedium;    
    src: url(../fonts/Amaranth-Medium.ttf);     
}
 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');  
}

/* FORM ELMENTS */

/* un-order list: 
   - <li> elements: styles. This will be used when formElementsError 
*/
form ul {
  list-style-type: circle;
  padding: 15px;
  margin: 0px 5px;
  font-size: 8px;
}

form ul li {    
  color: #F8C05F;        
}

/* RADIO BUTTONS - NOT IN STYLE TEMPLATE */

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #F8CB58;
     color: #DCC96D;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover {
     background-color: #DBE968;
}
.form-radio:checked {
     background-color: #F3EA6C;
     border: none;
}


/* the main content inside pages with grids */
.main-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);    
    grid-gap: 10px;
    grid-auto-flow: row dense;
}

/* boxes */
.box {
   background-color:  #FACB4C;  
}


/*adding by Kristov*/
.ctp-p-justify {
    text-align: justify;
}
    

/* ctp-panel, -ctp-panel-header  -ctp-panel-body  */
.ctp-panel {
    margin-bottom: 15px;   
    background: rgba(250, 193, 96, 0.30);     
    border-radius: 10px; 
    height: auto;
}

/* select all elements h3 inside  elements with class: .box-buttons: */
.ctp-panel-header {
    background: rgba(250, 193, 96, 0.80); 
    border-radius: 15px 15px 0 0;
}
.ctp-panel-body {
    padding: 15px 15px;    
    height: auto;
}

/* panels: panels headings */
.panel-heading h3 {
    font-family: MyOswald, monospace, Arial;
    font-weight: 300;
    color: #F39C12;
}

/*********************************************************************/

#icons {
  font-size: 15px;
}

.icon-edit{
    color : #1b6d85;
} 

.ctp-user-img {    
    width: 50%;
    height: 50%;
    border-radius: 50%;   
    background-image: url(/ctpsystem/public/img/avatar.png); 
}

.noautorize {
    height: 100%;
    width: 100%;
    background-attachment: url(../../public/img/logo.png); 
}
/* ctp titles */
.ctp_title {
    text-transform: uppercase;
    text-align: center;   
}

/* All H1 elements inside (.ctp_title class)*/
.ctp_title h1{
    /* font properties */
    font-family: MyOswald, Arial, Helvetica, sans-serif; 
    font-size: 24px;
    font-weight: 200;    
    color: #ebc14b;     
    text-combine-upright: all;
}

/* ctp_subtitle */

.ctp_subtitle {
    color: white;
}
/*  All a h1, h2, h3 elements with class (.ctp_subtitle) */
h1.ctp_subtitle {
    font-family: MyOswald, Helvetica, sans-serif;        
    color: #ebc14b; 
}

h2.ctp_subtitle {
    font-family: MyOswald, Arial; 
    font-size: 25px;
    padding-left: 5px;   
    color: white;    
}

 h3.ctp_subtitle {
    padding-bottom: 10px;
    font-family: MyOswald, Helvetica, sans-serif;          
    font-size: 20px;
    color: #57a900;               
    text-transform: capitalize;
}

  
/*** hidding all items with less than 100 TIMES QUOTE ***/ 
[class~=tq10plus111]{
  /* hide all rows with times quotes under 100 */
  visibility: collapse;
}

/*******************   TABLE CTP PROPERTIES ***********************************/
.table_ctp {
    text-align: center;  
    font-size : 12px;    
}

.table_ctp thead, tfoot, th {   
    /*font-family: Roboto, Arial;*/
    font-size: 14px;
    text-align: left;    
    background-color: #F7BC59; /*#F9C05F*/
}

/* highlighter columns */
.table_ctp .description, .partnumber {    	    
    text-align: left;
}

/*table_ctp*/

/*select elements inside a td element*/
td select {
    max-width: 50px;
    min-width: 50px;
}


 /* modified by kristov */
 
select, input[type="search"] {
  position: relative;
  height: auto; 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;  
}

input[type="search"]:focus {
   
  z-index: 2;
}

.table_ctp .money {    	    
    text-align : right;
    padding-right: 20px;
    color: #C70039;
}

.table_ctp .partnumber {
    font-size: 12px;
    color: #593a78;
    width: 80px;
}

.table_ctp .timesq {
    color: #57a900;
}

.showrow {
    visibility: visible;
}

.hiderow {
    visibility: collapse;
}

/*----------------------------------------------------------------------------*/

table.minimalistBlack {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 0px solid #111111;
  padding: 4px 4px;
  color: #000000;
}
table.minimalistBlack tbody td {
  font-size: 12px;  
}

table.minimalistBlack tr:nth-child(even) {
    background: #f8f8f8;
}
table.minimalistBlack thead {
    background: #d8edd1;
    border-bottom: 1px solid #F8F8F8;
  border-top: 1px solid #F8F8F8;
}
table.minimalistBlack thead th {
  font-size: 14px;
  font-weight: bold;
  text-align: left;  
  border-left: 0px ;
}
table.minimalistBlack thead th:first-child {
  border-left: none;
}

table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 1px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}


.ctp-buttons {    
    padding : auto;
}

/* DT-BUTTONS : ACTIONS AND OPERATIONS LIKE CONVERT TO EXCEL, PDF, AND COPY TO CLICK BOARD */
.dt-buttons {
    margin-left: 20px;  
    margin-right: 20px
} 

#tqId {
   max-width:  130px;
}

#table_toexcel_length {
    font-family: Arial, Roboto, MyOswald;
    font-stretch: ultra-expanded;
}

.ctp-span {
    color: #57a900;
    font-size: 15px;
}

.ctp-green {
    color: #68b604;
}

.ctp-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ctp-grid {
   width: 100%;   
}

.ctp-footer {
    height: 20px;
    padding: 20px;  
}

.ctp-white {
    color: white;
}
.ctp-red {
    color: #C70039;
}

.ctp-role {
    color: #F39C12;
}

.ctp-black {
    color: #000000;
}

div.app-caption {
    padding: 25px 0px;    
    font-size:3.0em;
    font-weight: bold;
    color:#6aacaf
}

.alert ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 5px;
}

.imgicon {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.imgicon:hover {
    opacity: 1.0; 
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

