
/* 
    Created on : Oct 4, 2018, 11:39:20 AM
    Author     : Michel Ojeda
*/


#icons {
  font-size: 15px;
}

.icon-edit{
    color : #1b6d85;
} 

.header {    
    background-color: #cccccc;
    background-image: url(/ctpsystem/public/img/banner.png);

    padding: 30px;
    text-align: center;
    color: #ebc14b;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 .header {
  tex-color: #f1f1f1; 
}

#navbar1 {  
  background-color: #333;
  overflow: hidden;
  
}

.content {
  padding: 20px;
    
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 100px;
}